<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
        <add key="PicturesPath" value="D:\Proiecte c#\SuperMarketManagement\Photos" />
		<add key="repType" value="1" />
		<add key="ProductPath" value="D:\Proiecte c#\SuperMarketManagement\Product Save-JSON,VSC" />
		
    </appSettings>
	<connectionStrings>

		<add name="connection" connectionString="data source=DESKTOP-N33U3N3;initial catalog=MarketManagement;                           integrated security=SSPI" providerName="System.Data.SqlClient" />

	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>